.commonsite-main{
    padding: 20px;
    background-color: #ffffff;
}

.commonsite-images {
    width: 20%;
    height: auto;
    display: flex;
}
.commonsite-image {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}
.commonsite-title{
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/index/背景.jpg);
}

.commonsite-image-list {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

.commonsite-image-list-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
}

.commonsite-slide-image {
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.slick-prev, .slick-next {
    display: block !important; /* 確実に表示されるように */
    z-index: 1000;
}
.commonsite-dsc{
    font-size: small;
    text-align: center;
}