.commonsite-main{
    padding: 20px;
    background-color: #ffffff;
}

.commonsite-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.commonsite-section h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}
.commonsite-section p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 5px;
}

.commonsite-images {
    width: 20%;
    height: auto;
    display: flex;
}
.commonsite-image {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}
.commonsite-title{
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/index/背景.jpg);
}

.commonsite-image-list {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

.commonsite-image-list-wrapper {
    height: auto;
    text-align: center;
    padding: 30px;
}

.commonsite-slide-image {
    object-fit:contain;
    text-align: center;
    width: 500px;
    height: 300px;
}
.commonsite-dsc{
    text-align: center;
    font-size: small;
}